<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/adminstyles.css">
    <title>Party List</title>


</head>
<body>
    <div class="container">
        <div class="header">
          <form action="/add-party" method="get">
            <button type="submit" class="add-party-btn">Add Party</button>
          </form>
        </div>  
        {% if parties %}
            <div class="party-list">
                <div class="party-header">
                    <div>Live</div>
                    <div>Date</div>
                    <div>Name</div>
                    <div>Price</div>
                    <div>Bottle</div>
                    <div></div>
                </div>
                {% for party in parties %}
                    <div class="party-row">
                        {% if party.live == 0 %}
                        <form action="/go-live" method="POST">
                          <button class="start-btn">START</button>
                          <input type="hidden" name="partyid" id="partyid" value="{{party.id}}">
                        </form>
                        {% else %}
                        <form action="/stop-live" method="POST">
                          <button class="stop-btn">STOP</button>
                          <input type="hidden" name="partyid" id="partyid" value="{{party.id}}">
                        </form>
                        {% endif %}

                        <div>{{ party.date }}</div>
                        <div>{{ party.name }}</div>
                        <div>{{ party.res_price }}</div>
                        <div>{% if party.bottle == 1%}Yes{% else %}No{% endif %}</div>
                        <div class="buttons">

                          <form action="/edit-party" method="GET">
                            <button class="edit-btn">Edit</button>
                            <input type="hidden" name="partyid" id="partyid" value="{{party.id}}">
                          </form>
                          
                          <form action="/remove-party" method="GET">
                            <button class="delete-btn">Delete</button>
                            <input type="hidden" name="partyid" id="partyid" value="{{party.id}}">
                          </form>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No existing parties</p>
        {% endif %}
    </div>
</body>
</html>
