<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/stylesmap.css" rel="stylesheet">
  <title>Q club</title>
</head>
<body>

<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">

 <div class="section-library-detailbox">
   <div class="inner">

 <figure id="parImage"> <svg class="draggable" viewBox="0 0 1000 1000" version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="1280.000000pt" height="770.000000pt" viewBox="0 0 1280.000000 770.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,770.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">



<path id="myPath" d="M5104 7573 c-12 -2 -34 -17 -49 -33 -63 -66 -16 -173 76 -173 90 0
135 111 71 174 -28 28 -62 39 -98 32z"/>
<path d="M8375 7508 c-75 -41 -72 -156 5 -188 71 -29 145 22 145 101 0 73 -86
123 -150 87z"/>
<path d="M4854 7490 c-66 -27 -85 -120 -35 -171 43 -43 101 -41 147 5 51 51
43 119 -18 156 -35 21 -60 24 -94 10z"/>
<path d="M3435 7481 c-34 -15 -56 -47 -62 -90 -5 -36 -2 -44 30 -76 25 -25 44
-35 66 -35 66 0 111 44 111 109 0 63 -86 118 -145 92z"/>
</g>
</svg></figure>
</div>
</div>

  <div class="popup" id="popupid">
    <span class="popuptext" id="myPopup">Popup text...</span>
  </div>

    <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js' )}}">
    </script>
</body>
</html> 