<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/stylesmap.css" rel="stylesheet">
  <title>Q club</title>
</head>
<body>

<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">

 <div class="section-library-detailbox">
   <div class="inner">

 <figure id="parImage"> 
  <svg class="draggable" viewBox="0 0 2600 1680" version="1.0" xmlns="http://www.w3.org/2000/svg"
  width="1919.9999999999998" height="1080" viewBox="0 0 1280.000000 770.000000"
 preserveAspectRatio="xMidYMid meet">


<g>
  <line  id="svg_5" y2="1000" x2="130" y1="70" x1="130" stroke="#000" fill="none"/>
  <line id="svg_6" y2="1000" x2="1800" y1="1000" x1="130" stroke="#000" fill="none"/>
  <line id="svg_8" y2="1000" x2="1800" y1="70" x1="1800" stroke="#000" fill="none"/>
  <line id="svg_9" y2="70" x2="1800" y1="70" x1="130" stroke="#000" fill="none"/>
  <rect id="svg_15" height="164.28569" width="574.28562" y="834.28549" x="419.99974" fill="#666666"/>
  <rect id="svg_16" height="112.85712" width="65.71428" y="885.71406" x="1142.85676" fill="#666666"/>
  <rect id="svg_17" height="169.99997" width="245.71425" y="69.9999" x="1557.14241" fill="#666666"/>
  <rect id="svg_18" height="98.57141" width="98.57141" y="608.57124" x="1699.99953" fill="#666666"/>
  <rect stroke="null" id="svg_20" height="98.57141" width="98.57141" y="607.14267" x="1511.42813" fill="#666666"/>
  <rect stroke="null" id="svg_21" height="98.57141" width="201.42854" y="607.14267" x="1228.57108" fill="#666666"/>
  <rect stroke="null" id="svg_22" height="98.57141" width="134.2857" y="608.57124" x="989.99967" fill="#666666"/>
  <rect id="svg_23" height="98.57141" width="98.57141" y="512.85697" x="992.8568" fill="#666666"/>
  <rect id="svg_24" height="98.57141" width="98.57141" y="605.7141" x="721.42829" fill="#666666"/>
  <rect id="svg_25" height="98.57141" width="98.57141" y="605.7141" x="509.99969" fill="#666666"/>
  <rect id="svg_26" height="98.57141" width="98.57141" y="605.7141" x="347.14257" fill="#666666"/>
  <rect stroke="null" id="svg_27" height="98.57141" width="58.57142" y="527.14269" x="347.14257" fill="#666666"/>
  <rect stroke="null" id="svg_5" height="445.7142" width="21.42857" y="69.99991" x="994.28539" fill="#666666"/>
  <rect stroke="null" id="svg_9" height="98.57141" width="98.57141" y="69.9999" x="1338.57102" fill="#666666"/>


  
  <rect class="table" stroke="#000" id="svg_1" height="100.00001" width="78.57143" y="497.14286" x="1524.28557" fill="#583f72"/>
  <rect class="table {% if tables[1] == 1 %}taken{% else %}free{% endif %}" id="myPath" stroke="#000" id="svg_2" height="100.00001" width="47.14286" y="497.14286" x="1372.85704" fill="#583f72"/>
  <rect class="table {% if tables[2] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_3" height="100.00001" width="47.14286" y="497.14286" x="1245.71421" fill="#583f72"/>
  <rect class="table {% if tables[3] == 1 %}taken{% else %}free{% endif %}"  stroke="#000" id="svg_4" height="47.14287" width="94.28571" y="335.71431" x="1031.42851" fill="#583f72"/>
  <rect class="table {% if tables[4] == 1 %}taken{% else %}free{% endif %}"  stroke="#000" id="svg_6" height="47.14287" width="94.28571" y="220.00004" x="1034.28565" fill="#583f72"/>
  <rect class="table {% if tables[5] == 1 %}taken{% else %}free{% endif %}"  stroke="#000" id="svg_7" height="100.00001" width="47.14286" y="80.00006" x="1135.71423" fill="#583f72"/>
  <rect class="table {% if tables[6] == 1 %}taken{% else %}free{% endif %}"  stroke="#000" id="svg_8" height="100.00001" width="47.14286" y="81.42864" x="1248.57135" fill="#583f72"/>
  <rect class="table {% if tables[7] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_10" height="47.14287" width="94.28571" y="190.00005" x="1341.42847" fill="#583f72"/>
  <rect class="table {% if tables[8] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_11" height="52.85716" width="47.14286" y="85.71436" x="1449.99989" fill="#583f72"/>
  <rect class="table {% if tables[9] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_12" height="100.00001" width="47.14286" y="495.71428" x="750" fill="#583f72"/>
  <rect class="table {% if tables[10] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_13" height="100.00001" width="47.14286" y="500" x="532.85715" fill="#583f72"/>
  <rect class="table {% if tables[11] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_14" height="52.85716" width="47.14286" y="528.57144" x="424.28578" fill="#583f72"/>
  <rect class="table {% if tables[12] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_15" height="100.00001" width="47.14286" y="568.57142" x="288.57148" fill="#583f72"/>
  <rect class="table {% if tables[13] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_16" height="47.14287" width="94.28571" y="745.71421" x="144.28577" fill="#583f72"/>
  <rect class="table {% if tables[14] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_17" height="47.14287" width="94.28571" y="542.8571" x="144.28577" fill="#583f72"/>
  <rect class="table {% if tables[15] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_18" height="47.14287" width="94.28571" y="374.28572" x="145.71434" fill="#583f72"/>
  <rect class="table {% if tables[16] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_19" height="47.14287" width="94.28571" y="222.85716" x="148.57149" fill="#583f72"/>
  <rect class="table {% if tables[17] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_20" height="100.00001" width="47.14286" y="87.14291" x="270.00007" fill="#583f72"/>
  <rect class="table {% if tables[18] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_21" height="100.00001" width="47.14286" y="88.5715" x="402.85717" fill="#583f72"/>
  <rect class="table {% if tables[19] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_22" height="100.00001" width="47.14286" y="90.00007" x="612.85714" fill="#583f72"/>
  <rect class="table {% if tables[20] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_23" height="100.00001" width="47.14286" y="91.42862" x="755.71426" fill="#583f72"/>
  <rect class="table {% if tables[21] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_24" height="100.00001" width="47.14286" y="92.8572" x="899.99996" fill="#583f72"/>
  <rect class="table {% if tables[22] == 1 %}taken{% else %}free{% endif %}" stroke="#000" id="svg_25" height="52.85716" width="47.14286" y="84.28579" x="504.28578" fill="#583f72"/>


  </g>



</svg></figure>
</div>
</div>

  <div class="popup" id="popupid">
    <form action="/reserve" method="get">
      <button class="popuptext" id="myPopup">Reserve</button>
      {% if id %}
        <h1>{{id}}</h1>
      {% endif %}

    </form>
  </div>

    <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js' )}}">
    </script>
</body>
</html> 

