* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(37, 27, 184);
}
svg path{
  fill: #00394f;
  stroke: #eee;
  stroke-width: .25;
}
svg path:hover{
  fill: cyan;
  transition: 0.6s;
  cursor: pointer;

}

.taken{
  fill: #c42828;
  stroke-width: .25;
}

.taken:hover{
  fill: rgb(70, 5, 5);
  transition: 0.6s;
  cursor: pointer;
}

.free{
  fill: #d0db30;
  stroke: #eee;
  stroke-width: .25;
}

.free:hover{
  fill: rgb(180, 147, 0);
  transition: 0.6s;
  cursor: pointer;
}

.popuptext{
  font-family: Arial, Helvetica, sans-serif;
}
/*
svg rect{
  fill: rgb(145, 130, 1);
  stroke: #eee;
  stroke-width: .25;
}

svg rect:hover{
  fill: rgb(253, 253, 136);
  cursor: pointer;

}

*/
.reservations-container {
  background-color: #4b72f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}
figure {
  width: auto;
  height: auto;
  position: absolute;
  margin: 0 auto;
}

.static {
  cursor: not-allowed;
}

.draggable {
  cursor: move;
}

#popupid {
  display: inline-block;
  position: absolute;
  padding: 10px;
  z-index: 1000;
}

/* Style for the popup */
.popup {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.popup .popuptext {
  width: 160px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}